@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-inter bg-slate-950 text-slate-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-playfair;
}